* {
  margin: 0;
  padding: 0;
}

html, body {
  background: #000000;
  color: #ffffff;
  font-family: 'Courier New', monospace;
  font-size: 24px;
}

p {
  padding: 10px 0;
}

a {
  color: #ffffff;
}

#container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

#logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo h1 {
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  position: relative;
  font-size: 100px;
  padding: 30px;
  font-style: italic;
}

#logo h1::before,
#logo h1::after {
  padding: 30px;
  color: white;
  content: "SHIFT";
  font-style: italic;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  top: 0;
}

#logo h1::before {
  left: 3px;
  text-shadow: -2px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

#logo h1::after {
  left: -3px;
  text-shadow: -2px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  0% {
    clip: rect(98px, 350px, 103px, 30px);
  }

  5% {
    clip: rect(83px, 350px, 66px, 30px);
  }

  10% {
    clip: rect(126px, 350px, 144px, 30px);
  }

  15% {
    clip: rect(10px, 350px, 116px, 30px);
  }

  20% {
    clip: rect(88px, 350px, 73px, 30px);
  }

  25% {
    clip: rect(130px, 350px, 17px, 30px);
  }

  30% {
    clip: rect(57px, 350px, 29px, 30px);
  }

  35% {
    clip: rect(112px, 350px, 150px, 30px);
  }

  40% {
    clip: rect(35px, 350px, 39px, 30px);
  }

  45% {
    clip: rect(6px, 350px, 98px, 30px);
  }

  50% {
    clip: rect(57px, 350px, 131px, 30px);
  }

  55% {
    clip: rect(62px, 350px, 43px, 30px);
  }

  60% {
    clip: rect(148px, 350px, 124px, 30px);
  }

  65% {
    clip: rect(15px, 350px, 81px, 30px);
  }

  70% {
    clip: rect(106px, 350px, 71px, 30px);
  }

  75% {
    clip: rect(128px, 350px, 82px, 30px);
  }

  80% {
    clip: rect(149px, 350px, 67px, 30px);
  }

  85% {
    clip: rect(47px, 350px, 114px, 30px);
  }

  90% {
    clip: rect(3px, 350px, 33px, 30px);
  }

  95% {
    clip: rect(7px, 350px, 135px, 30px);
  }

  100% {
    clip: rect(30px, 350px, 85px, 30px);
  }
}

@keyframes glitch-animation-2 {
  0% {
    clip: rect(51px, 350px, 117px, 30px);
  }

  5% {
    clip: rect(111px, 350px, 50px, 30px);
  }

  10% {
    clip: rect(127px, 350px, 109px, 30px);
  }

  15% {
    clip: rect(137px, 350px, 9px, 30px);
  }

  20% {
    clip: rect(33px, 350px, 101px, 30px);
  }

  25% {
    clip: rect(89px, 350px, 43px, 30px);
  }

  30% {
    clip: rect(69px, 350px, 113px, 30px);
  }

  35% {
    clip: rect(77px, 350px, 133px, 30px);
  }

  40% {
    clip: rect(24px, 350px, 59px, 30px);
  }

  45% {
    clip: rect(16px, 350px, 99px, 30px);
  }

  50% {
    clip: rect(92px, 350px, 65px, 30px);
  }

  55% {
    clip: rect(63px, 350px, 23px, 30px);
  }

  60% {
    clip: rect(56px, 350px, 94px, 30px);
  }

  65% {
    clip: rect(22px, 350px, 145px, 30px);
  }

  70% {
    clip: rect(46px, 350px, 33px, 30px);
  }

  75% {
    clip: rect(38px, 350px, 101px, 30px);
  }

  80% {
    clip: rect(73px, 350px, 122px, 30px);
  }

  85% {
    clip: rect(20px, 350px, 76px, 30px);
  }

  90% {
    clip: rect(9px, 350px, 10px, 30px);
  }

  95% {
    clip: rect(111px, 350px, 87px, 30px);
  }

  100% {
    clip: rect(44px, 350px, 99px, 30px);
  }
}
